:root {
  --border: solid 1px #ddd;
}
* {
  font-family: 'Courier New', Courier, monospace;  
}

#tableau {
  max-height: 80vh;
  max-width: 80vw;
}
.tab {
  height: 100%;
}
.theader {
  height: 5%;
}
.tbody {
  display: grid;
  height: 95%;
  grid-template-rows: repeat(5, 20%);
  overflow-x: scroll;
}
.tr {
  border-bottom: var(--border);
  display: flex;
}
.th {
  border-right: var(--border);
  background-color: #f3f3f3;
  width: 100px;
  height: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.th p {
  font-size: 25px;
}
.td {
  border-right: var(--border);

  width: 150px;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.td p {
  max-width: 80%;
  font-size: 20px;
  margin: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.td:hover {
  background-color: #fcfcfc;
  cursor: pointer;
}
.td p:hover {
  overflow: visible;
  text-overflow: unset;
}