:root {
  --border: solid 1px #ddd;
  --color-1: #3B69B4;
  --color-2: #4BB3D8;
  --first-column-color: #f3f3f3;
  --first-row-color: #f2f2f2;
  --cell-color: white;
  --cell-hover-color: #fcfcfc;

  --first-column-width: 5vh;
  --first-row-height: 5vh;
  --cell-width: 15vh;
  --td-font-size: 2vh;
  --th-font-size: 2.5vh;
}
* {
  /* font-family: 'Courier New', Courier, monospace;   */
  font-family: 'Source Sans Pro', sans-serif;
}

#tableau {
  height: 90vh;
  width: 100%;
}
.tab {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.theader {
  width: 100%;
  height: 10%;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.theader button {
  background: linear-gradient(90deg, var(--color-1), var(--color-2));
  padding: 7px 20px;
  border-radius: 50px;
  border: none;
  color: white;
  font-size: 2vh;
  cursor: pointer;
}
.theader button:hover {
  background: var(--color-1);
}
.theader span {
  display: flex;
  gap: 2px;
}
.theader .left {
  border-radius: 50px 0 0 50px;
}
.theader .right {
  background: linear-gradient(-90deg, var(--color-1), var(--color-2));
  border-radius: 0 50px 50px 0;
}
.tbody {
  background-color: var(--cell-color);
  border: solid 3px black;
  border-radius: 10px;
  display: grid;
  height: 90%;
  grid-template-rows: var(--first-row-height) repeat(5, calc((100% - var(--first-row-height)) / 5));
  overflow-x: scroll;
}
.tr {
  border-top: var(--border);
  display: flex;
}
.th {
  z-index: 5;
  border-right: var(--border);
  background-color: var(--first-column-color);
  width: var(--first-column-width);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  left: 0;
}
.th p {
  font-size: var(--th-font-size);
  margin: 0;
}
.thead {
  margin-left: var(--first-column-width);
  border-left: var(--border);
  background-color: var(--first-row-color);
}
.td {
  border-right: var(--border);

  width: var(--cell-width);
  height: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.td p {
  max-width: 80%;
  font-size: var(--td-font-size);
  margin: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
}

.td:hover {
  background-color: var(--cell-hover-color);
  cursor: pointer;
}
.td p:hover {
  overflow: visible;
  text-overflow: unset;
}


#addform {
  z-index: 4;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  border: solid 2px black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  box-shadow: 0 0 5px black;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#addform .close {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 15px;
  background-color: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
}
#addform .close:hover {
  background-color: rgb(181, 0, 0);
}
#addform form {
  display: flex;
  flex-direction: column;
}
#addform input,#addform select {
  background-color: transparent;
  padding: 2px 5px;
  border: solid 1px #aaa;
  border-bottom: 0;
  font-size: var(--td-font-size);
}
#addform select:nth-child(1) {
  border-radius: 5px 5px 0 0;
}
#addform input:nth-last-child(2) {
  border-radius: 0 0 5px 5px;
  border-bottom: solid 1px #aaa;
}
#addform .add {
  font-size: var(--th-font-size);
  margin-top: 5px;
  background: linear-gradient(-90deg, var(--color-1), var(--color-2));
  color: white;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
#addform .add:hover {
  background: var(--color-1);
}

.td {
  position: relative;
}
.edit {
  position: absolute;
  display: none;
  width: 2vh;
  right: 5px;
  top: 5px;
}
.td:hover .edit {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.edit button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vh;
  width: 100%;
  height: 2vh;
  border-radius: 50%;
  padding: 2px;
  border: none;
  color: white;
  opacity: 50%;
}
.edit button:hover {
  opacity: 100%;
  cursor: pointer;
}
.edit .check {
  background-color: #0a0;
}
.edit .plus {
  background-color: #00a;
}
.edit .minus {
  background-color: #a00;
}
.edit .pen {
  background-color: #aa0;
}

.barre {
  z-index: 1;
  position: absolute;
  color: red;
  width: calc(var(--cell-width) + 5.7vh);
  rotate: -45deg;
}